body {
    background-color: #121212;
}
.title {
    color: #ffffff;
    text-align: center;
}
.segtitle {
	color: #ffffff;
}
.tertitle {
    color: #ffffff
}
.text {
    color: #ffffff;
    text-align: center;
}
.final {
    color: #ffffff;
    text-align: center;
}
a {
    color: #ffffff;
    text-decoration: none;
}
table, th, td {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-collapse: collapse;
}
th, td {
	padding: 3px 10px;
}
th {
	background-color: #ffffff;
	color: #121212;
}
