@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oleo+Script:wght@400;700&display=swap');

body {
    background-color: #121212;
    margin: 0  20px 0 20px;
}
.title {
    color: #ffffff;
    text-align: center;
    font-family: "Oleo Script", system-ui;
    font-style: normal;system-ui;
    font-size: 49px;
}
.segtitle {
	color: #ffffff;
}
.tertitle {
    color: #ffffff
}
.text {
    color: #ffffff;
    text-align: center;
}
.final {
    color: #ffffff;
    text-align: center;
    font-size: 10px;
}
a {
    color: #ffffff;
    text-decoration: none;
}
table, th, td {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-collapse: collapse;
}
th, td {
	padding: 3px 10px;
}
th {
	background-color: #ffffff;
	color: #121212;
}
